* {
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto !important;
  padding-right: 0 !important;
  background-color: #f8f3f0  !important;
}
a {
  text-decoration: none !important;
}
i {
  font-size: 1.8rem;
  color: white;
  z-index: 1;
}

/* ========================================== */
/* Aquí se trabaja el carrusel de texto */
/* ========================================== */
.carousel-container {
  display: flex;
  top: 0;
  width: 100%;
  height: 2rem;
  overflow: hidden;
  text-align: center;
  z-index: 1; /* Asegura que quede arriba */
  align-items: center;
  justify-content: center;
}
.carousel-text {
  position: relative;
  width: 50%;
  opacity: 1;
  transition: transform 0.7s ease-out, opacity 0.5s ease-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 0.9rem;
}


/* ========================================== */
/*Configuración del botón Whstp*/
/* ========================================== */
.whatsapp_float {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}
.whatsapp_float img { /*Aquí configuramos la estética de la imagen o ícono*/
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


/* ========================================== */
/*HEADER*/
/* ========================================== */
.cabecero {
  background-color: transparent;
  transition: background-color 0.5s ease;
  position: fixed; /* El header ya no es fijo */
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  z-index: 2;
  /* top: 0; */
  width: 100%;
}
/* Estado con fondo sólido */
.cabecero a {
  color: white !important;
  transition: color 0.5s ease;
  z-index: 1;
}
.cabecero:hover .titulo{
  border-color:  black;
}
.cabecero:hover {
  background-color: #f8f3f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.227);
}
.cabecero:hover a {
  color: black !important;
  border-color: black;
  z-index: 1;
}
.cabecero:hover i{
  color: black;
  z-index: 1;
}
.titulo{
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid white;
  padding: 2px;
}

#navbarNav a{  
  border: solid 1px transparent;
  transition: all 0.2s ease-in-out;
  padding-bottom: 2px;
  opacity: 0.9;
}
#navbarNav a:not(#btn-carrito):hover {
  border-bottom: #00000035 1px solid;
  transform: translateY(-3px);
  cursor: pointer;
  opacity: 1;
}
/* el numerito indicador del carrito */
.carrito-burbuja {
  position: absolute;
  top: 0rem !important;
  right: 2.2rem;
  background: black;
  color: white;
  border-radius: 1.5rem;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  display: none;
}
/* Ahora la caja del buscador de productos */
#search-suggest{
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: -6px;
  background-color: #f8f3f0;
  border-radius: 4px;
  z-index: 2;
  max-height: 100px;            /* colapsado */
  transform-origin: top;
  transform: scaleY(0.98);  /* pequeña escala inicial */
  transition: max-height 0.28s ease, opacity 0.18s ease, transform 0.18s ease;
  opacity: 0.9;
}
#search-suggest.abierto {
  max-height: 500px;
  overflow-y: hidden;
  transform: scaleY(1);
  opacity: 1;
}
#search-suggest :not(p):hover{
  background-color: #e0e0e0;
  transition: all 0.2s ease-in;
}
.sugerencia{
  display: flex;
  width: 100%;
  padding: 0.4rem 0.6rem;
  align-items: center;
  opacity: 0.5;
  transform: translateY(4px);
  transition: opacity 0.45s ease, transform 0.35s ease, transition 0.82s ease;
}
.sugerencia.mostrar {
  opacity: 1;
  transform: translateY(0);
}
.sugerencia img{
  width: 4vmax;
  height: 4vmax;
  object-fit:cover;
  border-radius: 6px;
  image-rendering: -webkit-optimize-contrast; /* Chrome */
  image-rendering: crisp-edges; /* otros */
}
.sugerencia:not(.span-2) span{
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'jost', sans-serif;
}
.span-2{
  font-size: 1rem !important;
  font-family: 'jost', sans-serif;
}


/* ========================================== */
/* Sección del carrusel */
/* ========================================== */
.carrusel{
  position: relative;
}
.carrusel img{
    width: 100% !important;
    object-fit: fill;
    display: block;
    aspect-ratio: 16 / 9;
}
.swiper {
  width: 100%;
  max-height: 700px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.swiper-slide{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

/* ========================================== */
/*seción "New In" que es solo un titulo */
/* ========================================== */

.new{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

/* Aquí vamos a trabajar la sección oculta de "hombre-Mujer-sets" de NEW IN*/
.new-section {
  border-bottom: 2px solid #e0e0e0;
  width: 20rem;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #333;
  justify-content: center;
}
.new-section button {
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 1rem;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: all 0.3s ease;
}
.btn:focus {
  outline: none !important;
}

/* La sección principal */
.contenedor-secciones {
  position: relative;
  min-height: 450px;
  width: 80%;
}

/* Todas las secciones ocupan el mismo espacio y se superponen */
.sect {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: .2rem;
}
.sect img{
  object-fit: contain;
}
.sect.activa {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.flip-card{
  transition: all 0.5s ease;
  max-width: 14rem;
}
.flip-card:hover{
  transform: scale(1.05);
  transition: all 0.5s ease;
}
/* Con esto damos tamaño a las imagenes de los productos */
.flip-card img{
  cursor: pointer !important;
}
.aviso{
  width: 15vmax;
  padding-top: 5vmax;
  font-family: 'Merienda', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
/* Este es el padre de titulo, precio y el boton ver */
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Aquí con "ver" vamos a trabajar el boton de "Ver Más" */
.ver{
  width: clamp(4.5rem, calc(7vw + 2rem), 10rem);;
  background-color: #b3610a4f;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(.45rem, calc(.5vw + 0.3rem), 1rem);
  font-weight: bold;
  text-decoration: none;
  border: none;
  padding:
  clamp(3px, calc(1vw + 1px), 12px) /*alto */
  clamp(20px, calc(2vw + 1px), 24px); /*ancho*/
  border-radius: 21px 21px 21px 21px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
}
.ver:hover {
  color: black;
}
.ver::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b3610aac;
  z-index: 0;
  transition: top 0.2s ease;
}
.ver:hover::before {
  top: 0; /* Mueve el color desde abajo hacia arriba */
  color: red;
}
/* aquí el pequeño banner que me hice en canvas */
/*.banner{
    width: 100%;
    height: 18rem;
}*/


/* aquí la sección de "Compra por categoría" *****  */
.by{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
}
.categoria{
    max-width: 70%;
}
.card-img{
  aspect-ratio: 5 / 8;
}
.card a{
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px 1px;
}
.card:hover .card-img{
    transform: scale(1.03);
    transition: transform 0.5s ease;
}
.card .card-img {
    transition: transform 0.5s ease; /* Aplicar la transición siempre */
}
/************* Pie de página **********/
.footer1{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    width: 100%;
  }
  .footer{
    display: flex;
    background-color: rgb(34, 33, 33);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    position: static;
    padding-top: 20px;
    padding-left: 25px;
    gap: 50px;
    width: auto;
    line-height: 20px;
  }
  .footer span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-size: 14px;
    color: rgb(210, 210, 210);
  }
  .ubicacion{
    width: 30%;
  }
  .contacto{
    width: 30%;
  }
  .contacto span{
  display: block;
  margin-bottom: 1px;
}
  .redes{
    width: 30%;
  }
  /* From Uiverse.io by javierBarroso */ 
  .social-login-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    width: 230px;
    height: 42px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3
   {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #111;
  }
  
  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg
  {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .ultimo{
    border-top: 2px solid #333;
    display: flex;
    background-color: rgb(34, 33, 33);
    color: rgb(210, 210, 210);
    padding-bottom: 14px;
    padding-top: 20px;
    padding-left: 20px;
    width: auto;
    gap: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
  }
  span a{
    text-decoration: none !important;
    color: inherit;
  }


/* ========================================================= */
  /* CSS del modal del carrito */
/* ========================================================= */
/* Fondo atenuado */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color oscuro semitransparente */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 999;
}
.overlay.visible {
  opacity: 1;
  visibility: visible;
}
#productoModal{
  z-index: 500;
}
.modal-backdrop {
  z-index: 499; /* uno menos que el modal */
}
/* Carrito flotante */
.carrito-modal {
  position: fixed;
  right: -400px; /* oculto a la derecha */
  top: 0;
  width: 350px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: right 0.4s ease-in-out; /* Transición suave */
}

/* Cuando se abre */
.carrito-modal.abierto {
  right: 0; /* desliza a la vista */
}
.carrito-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart{
  font-size: 1.8rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.carrito-header h5{
  font-size: 1.3rem;
  margin-left: -1rem;
}
.carrito-header, .carrito-footer {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carrito-footer p{
  font-size: 1.3rem;
  margin-left: 2rem;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: #111111c5;
}
.cerrar-carrito {
  background: none;
  border: none;
  font-size: 2.5rem;
  float: right;
  cursor: pointer;
}
.checkout{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 3rem;
  width: 90%;
  border-radius: 1.5rem;
  color: white;
  margin: 0;
}
.candado{
  font-size: 1.3rem;
  margin-left: -3rem;
  margin-right: 1.5rem;
  align-items: center;
}
/* ================================================ */
/* Estilo para div que crea JS dentro del carrito */
/* ================================================ */
.carrito-contenido{
  overflow: auto;
}
.producto-item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.producto-img img {
  width: 4rem;

  border-radius: 8px;
}

.producto-info {
  flex: 1;
}

.nombre {
  font-family: "Merienda", serif;
  margin: 0;
}

.talla {
  color: gray;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}
.padre_de_acciones{
  display: flex;
}
.padre_de_acciones i {
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 0.8rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  color: #000000c4;
}
.acciones {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid gray;
  border-radius: 1.5rem;
  padding: 0.27rem;
}
.acciones button {
  background: none;
  border: 1px solid transparent;
  padding: 0.25rem 0.21rem;;
  cursor: pointer;
  border-radius: 4px;
}
.btn-menos, .btn-mas{
  font-weight: bold;
}
.producto-precio {
  text-align: right;
}

.precio-actual {
  color: #040404;
  font-family:Arial, Helvetica, sans-serif;
}

.precio-anterior {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9em;
}
.producto-mini{
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: auto;
}
.miniatura{
  width: 60px;
  height: auto;
  min-height: 3rem;
  max-height: 5rem;
  margin-right: 1px;
}
.swal-zindex {
  z-index: 99999 !important;
}

/* el botón de ir a comprar si no hay nada cargado */
.btn-volver {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: black;
  height: 3rem;
  width: 85%;
  border-radius: 1.5rem;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1.5rem 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-volver:hover {
  background-color: #555;
}
/* *************************************************************** */
/* Responsives */
/* *************************************************************** */
@media (max-width: 768px) {
body {
  min-height: 100lvh; /* o dvh si quieres que se ajuste dinámicamente */
  width: 100% !important;
  margin: 0;
  padding: 0;
}
.carousel-container{
  height: auto;
}
.carousel-text {
  width: 100%;
  margin: 0;
  padding: 0;
}
.cabecero{
  width: 100%;
  height: auto;
  padding-bottom: 2%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-items: center;
  justify-content: center;
}
.cabecero.menu-abierto {
  background-color: #fff; /* o el color sólido que prefieras al abrir */
}
.responsive{
  width: 100%;
  height: auto;
  /*margin: 2px;*/
  padding: 0;
}
.navbar-brand{
  margin-left: 1%;
}
.navbar-toggler{
  width: 10%;
  align-items: center;
  justify-content: center;
  padding: 2px !important;
}
.navbar-toggler-icon{
  width: 90%;
  padding: 0 !important;
  margin: 0 !important;
}
nav .titulo{
  font-size: 1.2rem;
  margin-left: 2px !important;
  margin-top: 2px;
  padding: 3%;
}
#navbarNav{
  margin-left: 6% !important;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
#search-box{
  margin-left: 6% !important;
}
.border-none img{
  width: auto;
  height: auto;
  margin-top: 2rem;
}

/******* Ahora la sección New IN *******/
.new-section{
  padding: 0 !important;
}
.contenedor-secciones {
  min-height: 260px;
  width: 100%;
  overflow: visible;
}
.flip-card{
  max-width: 7rem;
}
/* Padre de titulo, precio y boton ver mas */

.card-title, .card-text{
  font-size: 0.8rem !important;
}
.aviso{
  width: 60vmax;
  padding-top: 1vmax;

}


/****************** Categorías ******************/
.categorias{
  margin-top: 1rem !important;
}
.categoria{
  max-width: 80%;
  gap: 1rem;
}
/* .labia{
  width: 100%;
} */
/*.banner{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin: 0;
  padding: 0
}*/
/* ********* Ahora temas del carrito flotante ********* */
#carrito-modal{
  width: 60%;
}
.cart{
  font-size: 1.5rem;
}
.carrito-footer{
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.carrito-footer p{
  margin-left: 0;
  font-size: 1.5rem;
}
.producto-item{
  padding: 0.5rem 0.1rem 1rem 0.1rem !important;
}
.btn-eliminar i {
  color: #dc3545;
  font-size: 13px;
  padding: 4px !important;
  margin: 0 !important;
}
.checkout{
  width: 96%;
  padding: 0.5rem;
  margin: 0;
}
.candado{
  font-size: 1rem;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}
/* ***************Aquí inicia el footer********************** */
.footer1{
  font-size: 0.8rem;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  padding: 10px;
  padding-left: 4px;
  margin-top: 4% !important;
}
.footer1{
  line-break: loose;
}
.footer{
  font-size: 0.8rem;
  width: 100%;
  height: auto;
  padding: 4px;
  flex-wrap: wrap;
  gap: 6px;
}
.contacto{
  width: 53%;
  line-height: 12px;
  padding-left: 8px;
}
.contacto span{
  display: block;
  margin-bottom: 1px;
  font-size: 0.65rem !important;
  color: rgb(210, 210, 210);
}
.ubicacion{
  line-height: 12px;
  width: 45%;
}
.ubicacion span{
  font-size: 0.65rem !important;
}
.redes{
  width: 90%;
  height: 3rem;
  padding: 0;
  margin-top: 1rem;
}
.social-login-icons{
  width: 47%;
  height: 50%;
  margin-top: -6px;
  gap: 1px;
}
.socialcontainer{
  height: 70px;
  width: 100%;
  margin-top: -25px;
  padding: 0;
  justify-self: center;
  align-items: center;
}
.ultimo{
  padding: 0;
  padding-left: 6px;
  gap: 10px;
}
.ultimo span{
 font-size: 0.5rem; 
}
}

/* ================================================= */
/* Para un movil más peque */
/* ================================================= */
@media (max-width: 334px) {
.new-section{
  width: 15rem;
}
.contenedor-secciones{
  overflow: hidden;
}

.contacto{
  display: none;
}
}