/* ******************************************************** */
/* Estilos para el modal de detalles de productos */
/* ******************************************************** */

/* Gestos globales */
#productoModal {
    z-index: 998 !important;
}
#modalImagen-producto {
    transition: transform 0.2s ease;
    transform: scale(1);
}

#modalImagen-producto.fade-out {
    transform: scale(1.03);
}

#modalImagen-producto.fade-in {
    transform: scale(0.97);
}

/* Scroll del modal */
.modal-dialog-scrollable .modal-content {
    /* Para navegadores basados en Chromium (Chrome, Edge, Opera) */
    scrollbar-gutter: stable;
}

.modal-dialog-scrollable .modal-content::-webkit-scrollbar {
    width: 8px;
    /* opcional: personalizar */
}

.modal-dialog-scrollable .modal-content::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.modal-dialog-scrollable .modal-content::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

/* Ahora si, el div padre del modal que es popup */
.modal-padre {
    background-color: white;
    max-height: 40vmax;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 0.5rem;
}

.modal-padre::-webkit-scrollbar {
    /* Chrome, Edge, Safari */
    display: none;
}

.modal-padre button:not(.checkout-modal) {
    background-color: transparent;
}

.popup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: .5rem;
    position: relative;
    border: none;
    width: 100%;
}

.carrusel-interno {
    position: absolute;
    flex-direction: column;
    top: 7;
    left: 0;
    width: 4rem;
    height: auto;
    display: flex;
    padding: 0.1rem;
    gap: 0.2rem;
    border-radius: 0.2rem;
}

.div-dinamico {
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.div-dinamico img {
    margin: 0;
    padding: 2%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cerrar {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.575);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.69);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* contenedor de la foto principal */
.foto-popup {
    width: 80%;
    height: auto;
    margin-left: 4.5vmax;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    padding: 2rem;
}

.foto-popup img {
    width: 100%;
    object-fit: contain;
    border-radius: .5rem;
    max-height: 400px;
    cursor: zoom-in !important;
}

/* div padre derecho que contiene la info del producto */
.sub-contenido {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: auto;
    padding: 1rem;

}

.modal-header-producto {
    height: auto;
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
}

/* nombre del producto */
.modal-header-producto h5 {
    margin: 0;
    font-size: 2.8rem;
    font-family: "Jost", serif;
    font-weight: 520;
}

/* precio del producto */
.modal-header-producto p {
    font-weight: normal;
    font-size: 1.1rem;
    font-family: "roboto", serif;
}

/* cantidad que se añadirá al carro */
.modal-cantidad span {
    font-size: .8rem;
    font-family: "cambria", serif;
}

.botones-modal {
    border: 1px solid gray;
    border-radius: 1.5rem;
    text-align: center;
    width: 6rem;
    height: 2.5rem;
    margin: 0;
}

.botones-modal button {
    border: 1px solid transparent;
    padding: 0.20rem 0.20rem;
    cursor: pointer;
    border-radius: 4px;
    margin: 0rem 0.4rem 0rem 0.4rem;
}

.checkout-modal {
    background-color: rgb(211, 165, 213);
    height: 3rem;
    width: 85%;
    border-radius: 1.5rem;
    border: transparent;
    color: black;
    margin: 0;
    justify-self: center;
    padding: 1rem;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
}

.checkout-modal:hover {
    background-color: rgba(208, 136, 211, 0.971);
}

.talla {
    display: flex;
    flex-direction: column;
}

.talla .stock {
    color: gray;
    font-size: 0.5rem;
    font-family: "roboto", serif;
}

.talla .talla-actual {
    font-family: "roboto", serif;
    font-size: 0.8rem;
}

.tallas-botones {
    display: flex;
}

.tallas-botones button {
    margin-left: 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: "roboto", serif;
    padding: 0.20rem 0.90rem 0.20rem 0.90rem;
}

.tallas-botones button.activo {
    background-color: #333;
    color: white;
}

.tallas-botones button.sin-stock {
    opacity: 0.5;
    cursor: not-allowed;
    text-decoration: line-through;
}

/* Div inferior */
.data-inferior{
    overflow-y: auto;
    height: auto;
}

.descripcion {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.descripcion span {
    display: block;
    margin-left: 1.1rem;
    font-size: 1rem;
}

.descripcion p {
    display: inline-block;
}

.entrega {
    margin-top: 0.5rem;
}

.detalles,
.descripcion {
    position: relative;
    margin-top: 0.5rem;
    padding-bottom: 1rem !important;
}

.detalles::after,
.entrega::after,
.descripcion::after {
    content: "";
    display: block;
    width: 94%;
    height: 1.5px;
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* *-*-*-*-*-* Responsive o Adaptable *-*-*-*-*-*-* */
@media (max-width: 768px) {
    .modal-padre {
        max-height: 65vmax !important;
        width: 100%;
        margin-left: .1rem;
        padding: 0.3rem;
    }

    .popup {
        min-height: 344px;
        margin: 0 !important;
        overflow: hidden;
    }

    /* padre de carrusel */
    .carrusel-interno {
        flex-direction: row;
        top: 28vmax;
        width: 12rem;
    }

    /* ahora si, div de carrusel e imagen */
    .div-dinamico {
        width: 35px;
    }

    .div-dinamico img {
        object-fit: fill;
        padding: 0.3rem 0rem 0.3rem 0rem;
    }

    /* boton cerrar */
    .cerrar {
        border: none;
        right: 1px;
        top: 1px;
    }

    /* contenedor de la foto principal */
    .foto-popup {
        width: 100%;
        height: 236px;
        padding: .7rem;
        margin: 0;
    }

    /* div padre derecho que contiene la info del producto */
    .sub-contenido {
        padding: .3rem;
    }

    /* nombre del producto */
    .modal-header-producto h5 {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    /* precio del producto */
    .modal-header-producto p {
        font-size: .9rem;
        margin: 0.4em 0 0.5rem 0 !important;
    }

    .modal-cantidad span {
        padding: 0 .5rem 0 .5rem;
    }

    .botones-modal {
        margin-left: 1.7rem;
        padding: 0.18rem 0.5rem !important;
    }

    .botones-modal button {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* div padre del botón de pago */
    .sumar-cesta {
        width: 100%;
        margin-top: 0.8rem !important;
        padding: 0 !important;
    }

    /* boton de pago */
    .checkout-modal {
        height: 2.8rem;
        width: 85%;
        font-size: 0.64rem;
    }

    /* tallas debajo del botón de pago */
    .talla .stock {
        margin-top: 0.1rem !important;
    }

    .talla .talla-actual {
        margin-top: 0.1rem !important;
    }

    /* div padre de descripción del producto */
    .descripcion {
        height: auto;
        padding-bottom: 1rem !important;
    }

    .detalles,
    .entrega,
    .descripcion span,
    li {
        font-size: .9rem;
    }
}

/* ================================================= */
/* Para un movil más peque */
/* ================================================= */

@media (max-width: 334px) {
    .popup {
        display: flex;
    }

    /* padre de carrusel */
    .carrusel-interno {
        position: relative;
        justify-content: center;
        align-self: center;
    }

    /* boton cerrar */
    .cerrar {
        z-index: 10;
    }

    /* contenedor de la foto principal */
    .foto-popup {
        display: flex;
        margin-top: -60px;
        overflow: visible;
        justify-content: center;
    }

    .foto-popup img {
        width: 90%;
    }

    /* div padre derecho que contiene la info del producto */
    .sub-contenido {
        margin-top: 2.8rem;
    }
}