:root {
    --line-start: rgba(200, 3, 200, 0.17);
    /* color del borde del point y de la línea trayectoria |  inicio - medio - final */
    --line-main: rgb(200, 3, 173);
    --line-end: rgba(200, 3, 200, 0.17);

    --fill-color: rgba(255, 255, 255, 0.488);  /* color del fondo de la línea que muestra la trayectoria de datos si aplica según tipo de grafica */
}


/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
/* VENTAS RECIENTES - HOME*/
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */

/* Modo oscuro - Versión Beta */
body.active {
    background-color: #000000d3 !important;

    .fondos {
        display: none !important;
    }

    svg {
        fill: white;
    }

    .opciones {
        background-color: #1e1e1e !important;
        border: 1px solid white;
    }

    li.opcion-seleccionada {
        background-color: rgba(255, 255, 255, 0.956);

        svg {
            fill: rgb(177, 4, 4) !important;
        }
    }

    #dashboard-ui {
        border-top: 1px solid white !important;
        border-bottom: 1px solid white !important;
        box-shadow: 0px 1px 42px 10px rgba(226, 226, 226, 0.37);
    }
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.618);
    width: auto;
    border: 2px solid rgba(108, 68, 172, 0.906);
    padding: .8rem 2.5rem .8rem 2.5rem;
    border-radius: 1.3rem;
}

header div:first-child {
    width: clamp(2rem, calc(10vw + 8rem), 17.5rem);
    background-color: rgba(222, 222, 222, 0.618);
    border-radius: 1.3rem;
    padding: .1rem .5rem .1rem .5rem;
}

header svg {
    fill: gray;
    height: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
}

header input {
    width: 90%;
    border-radius: 0.5rem;
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem 0.5rem 0;
    font-size: .85rem;
}

header input:focus {
    outline: none;
}

.utilidades-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.utilidades-home svg {
    background-color:  rgba(108, 68, 172, 0.906);
    fill: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 0.3rem;
    cursor: pointer;
}

/* sección hero */
.home-contenido {
    background: linear-gradient(to top, rgba(208, 208, 208, 0.621), rgba(255, 255, 255, 0.621));
    border: 2px solid rgba(108, 68, 172, 0.906);
    border-radius: 1.3rem;
    padding: 1rem;
    margin-top: .5rem;
    height: auto;
    max-height: 40.6rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.home-contenido::-webkit-scrollbar {
    display: none;
}

.home-contenido p {
    font-weight: 600;
    margin-left: .2rem;
    line-height: 1px;
}

h3 {
    margin-top: .2rem;

    span {
        font-size: 1.5rem;
    }
}

/* contenedor de graficas */
.datos {
    display: flex;
    gap: 3rem;
    padding: 1rem 1rem .7rem 1rem;
    max-height: 25rem;
    height: auto;
    width: 100%;
    /* background-color: red; */
}

/* Grafica */
.datos-div-1 {
    background: linear-gradient(to top, #471983d2, #8b57d3c6);
    padding: 1rem;
    width: 57%;
    height: 100%;
    padding: 2.3rem 2rem 1.5rem 2.3rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}


/* Segundo contenedor | lado derecho */
.datos-div-2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
}

/* Div de datos superior */
.datos-div-2-superior,
.datos-div-2-inferior {
    display: flex;
    gap: 4rem;
    width: auto;
    height: auto;
    justify-content: space-between;
}

/* Cuadro de total de ventas historico */
.datos-div-2-sub-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background: linear-gradient(to bottom, white, rgba(174, 226, 244, 0.928));
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    max-height: 10rem;
    max-width: 14rem;
    width: 300px;
    grid-row: auto;
    align-items: center;

}

.datos-div-2-sub-1 svg {
    fill: rgb(5, 153, 57);
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
}

.datos-div-2-sub-1 span:not(#totalVentas) {
    width: 3.4rem;
    text-align: center;
    justify-self: right;
    padding: .1rem;
    background-color: rgb(147, 237, 117);
    color: green;
    font-weight: 800;
    font-size: .8rem;
    border-radius: 1rem;
    min-width: 3rem;
}
#totalVentas {
    min-width: 6rem;
}
.total-ventas-texto span,
.datos-div-2-sub-1 span {
    display: inline-block !important;
}

.total-ventas-texto {
    grid-column: 1 / -1;
    margin-top: 2rem;

}

.total-ventas-texto p {
    text-align: left;
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    color: rgba(21, 84, 105, 0.948);
}

.total-ventas-texto span {
    font-size: 1.3rem;
    font-weight: 800;
    color: rgba(7, 60, 77, 0.948);
}

/* Cuadro de total de pedidos del día */
.datos-div-2-sub-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background: linear-gradient(to bottom, white, rgba(225, 147, 181, 0.97));
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    max-height: 10rem;
    max-width: 14rem;
    width: 300px;
    grid-row: auto;
    align-items: center;

}

.datos-div-2-sub-2 svg {
    fill: rgba(108, 68, 172, 0.906);
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
}

.datos-div-2-sub-2 span:not(.total-pedidos-texto span) {
    width: 3.4rem;
    text-align: center;
    justify-self: right;
    padding: .1rem;
    background-color: rgb(147, 237, 117);
    color: green;
    font-weight: 800;
    font-size: .8rem;
    border-radius: 1rem;
}

.total-pedidos-texto {
    grid-column: 1 / -1;
    margin-top: 2rem;
}

.total-pedidos-texto p {
    text-align: left;
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    color: rgb(72, 22, 45);
}

.total-pedidos-texto span {
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(72, 22, 45);
}

/* Div inferior de datos */

/* ================================ */
/* Total visitas */
/* ================================ */

.datos-div-3-sub-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background: linear-gradient(to bottom, white, rgba(225, 147, 181, 0.97));
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    max-height: 10rem;
    max-width: 14rem;
    width: 300px;
    grid-row: auto;
    align-items: center;

}

.datos-div-3-sub-1 svg {
    fill: rgba(108, 68, 172, 0.906);
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
}

.datos-div-3-sub-1 span:not(.total-visitas-texto span) {
    width: 3.4rem;
    text-align: center;
    justify-self: right;
    padding: .1rem;
    background-color: rgb(237, 171, 117);
    color: rgb(75, 70, 0);
    font-weight: 800;
    font-size: .8rem;
    border-radius: 1rem;
}

.total-visitas-texto {
    grid-column: 1 / -1;
    margin-top: 2rem;
}

.total-visitas-texto p {
    text-align: left;
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    color: rgb(72, 22, 45);
}

.total-visitas-texto span {
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(72, 22, 45);
}

/* ================================ */
/* Nuevos clientes */
/* ================================ */
.datos-div-3-sub-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background: linear-gradient(to bottom, white, rgba(174, 226, 244, 0.928));
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    height: auto;
    max-height: 10rem;
    max-width: 14rem;
    width: 300px;
    grid-row: auto;
    align-items: center;

}

.datos-div-3-sub-2 svg {
    fill: rgb(16, 20, 17);
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
}

.datos-div-3-sub-2 span:not(.total-clientes-texto span) {
    width: 3.4rem;
    text-align: center;
    justify-self: right;
    padding: .1rem;
    background-color: rgb(147, 237, 117);
    color: green;
    font-weight: 800;
    font-size: .8rem;
    border-radius: 1rem;
}

.total-clientes-texto {
    grid-column: 1 / -1;
    margin-top: 2rem;

}

.total-clientes-texto p {
    text-align: left;
    font-weight: 700;
    font-size: .9rem;
    margin: 0;
    color: rgba(21, 84, 105, 0.948);
}

.total-clientes-texto span {
    font-size: 1.3rem;
    font-weight: 800;
    color: rgba(7, 60, 77, 0.948);
}



/* Estilo para la tabla de ventas */
.recientes {
    display: flex;
    flex-direction: column;
    max-width: auto;
    max-height: 20rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    justify-self: center;
}

.recientes div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    align-items: center;
}

#export{
    display: inline;
    background-color: rgba(108, 68, 172, 0.906);
    border-radius: 1.5rem;
    padding: .5rem .8rem;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    border: none;
}
#export svg{
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    margin: 0;
}
.recientes h4 {
    text-align: left;
}

.tabla-ventas {
    box-shadow: 0 1px 2px 1px rgba(96, 95, 95, 0.2);
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.188);
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}

.ventas-header{
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 2px -2px rgba(171, 171, 171, 0.372);
}
/* titulos */
.titulos {
    background-color: rgba(221, 221, 221, 0.822);
    color: rgba(108, 68, 172, 0.906);
    font-size: .8rem;
    font-family: "roboto", serif;
    position: sticky;
    top: 0;
    padding: .8rem;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.titulos:nth-child(1) {
    border-top-left-radius: 1.5rem;
}

.titulos:last-child {
    border-top-right-radius: 1.5rem;
}

.ventas-recientes td {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 7.5rem;
    font-weight: 500;
    padding: 0.8rem 0 .8rem 0;
    border-bottom: 1px solid rgb(202, 202, 202);
}

/* Estados de pedido */
.estado.pendiente {
    padding: 6px 10px;
    border-radius: 999px;
    background-color: #ffcc00a6;
    color: #715300;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}
.estado.pagado {
    padding: 6px 10px;
    border-radius: 999px;
    background-color: #6efc6ea6;
    color: #008824;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}
.estado.enviado {
    padding: 6px 10px;
    border-radius: 999px;
    background-color: #007bffa6;
    color: #090088;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}
.estado.cancelado {
    padding: 6px 10px;
    border-radius: 999px;
    background-color: #f57070a6;
    color: #750000;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}





/* Modelos responsivos */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .datos-div-1 {
        display: none;
    }
}