/* ============================================== */
/* LOGIN */   /* LOGIN */   /* LOGIN */  /* LOGIN */
/* ============================================== */
/* estilos generales */
*{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #781E64, #5C9599, #6F61AB, #14302C);
}

/* Efecto de fondo tipo telón */
#page-transition {
    position: fixed;
    inset: 0;
    z-index: 9999;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 1.1s cubic-bezier(0.77, 0, 0.175, 1);
    pointer-events: none;
    background: linear-gradient( 120deg,
    #000000,
    #1a0000,
    #4b0000,
    #001c78,
    #000000
    );
    background-size: 300% 300%;
    animation: fondo 1.5s ease-in-out infinite;
    pointer-events: none;
}
@keyframes fondo {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 10% 50%;
  }
}

#page-transition.active {
    transform: scaleY(1);
}


/* contenedor principal */
#pantalla-login{
  background-image: transparent;
  width: 100%;
  margin-top: -50px;
  padding-top: 5rem;
}
/* msj de bienvenida */
h1{
  color: white;
  font-size: 3.5rem;
  font-family: "Merienda", serif;
  text-shadow: -1px 0px 10px rgba(255, 255, 255, 0.5);
}
/* contenedor del formulario  */
.contenedor-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Contenedor de los inpus coloridos */
.grid {
  height: auto;
  width: 800px;
  background-size: 1rem 1rem;
  background-position: center center;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
}
.white,
.border,
.darkBorderBg,
.glow {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 12px;
  filter: blur(3px);
}
.input {
  background-color: #010201;
  border: none;
  width: 301px;
  height: 56px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding-inline: 59px;
  font-size: 18px;
}
#poda {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input::placeholder {
  color: #c0b9c0;
}

#input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 18px;
  left: 70px;
}
#pink-mask {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #cf30aa;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  animation:leftright 4s ease-in infinite;
  transition: all 2s;
}
#main:hover > #pink-mask {
  animation: rotate 4s linear infinite;
  opacity: 0;
}

.white {
  max-height: 63px;
  max-width: 307px;
  border-radius: 10px;
  filter: blur(2px);
}

.white::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #a099d8,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #dfa2da,
    rgba(0, 0, 0, 0) 58%
  );
  animation: rotate 4s linear infinite;
  transition: all 2s;
}
.border {
  max-height: 59px;
  max-width: 303px;
  border-radius: 11px;
  filter: blur(0.5px);
}
.border::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #402fb5 5%,
    #1c191c 14%,
    #1c191c 50%,
    #cf30aa 60%,
    #1c191c 64%
  );
  animation: rotate 4s 0.1s linear infinite;
  transition: all 2s;
}
.darkBorderBg {
  max-height: 65px;
  max-width: 312px;
}
.darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #18116a,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #6e1b60,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}
#poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(262deg);
}
#poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(240deg);
}
#poda:hover > .white::before {
  transform: translate(-50%, -50%) rotate(263deg);
}
#poda:hover > .border::before {
  transform: translate(-50%, -50%) rotate(250deg);
}

#poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}
#poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}
#poda:hover > .white::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}
#poda:hover > .border::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

#poda:focus-within > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}
#poda:focus-within > .glow::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}
#poda:focus-within > .white::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}
#poda:focus-within > .border::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.glow {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}
.glow:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(
    #000,
    #402fb5 5%,
    #000 38%,
    #000 50%,
    #cf30aa 60%,
    #000 87%
  );
  /* change speed here */
  animation: rotate 4s 0.3s linear infinite;
  transition: all 2s;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}
@keyframes leftright {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  49% {
    transform: translate(250px, 0px);
    opacity: 0;
  }
  80% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
/* estilos para el ícono del ojo */
.contenedor-password{
  position: relative;
}
#eye-span{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

#password:focus ~ span{
    color: black;
  }

/* Estilos para el botón de submit o loggin */
.contenedor-login .start {
    justify-content: center;
    align-items: center;
    margin-left: 2.2vmax;
}
.start{
    position: relative;
    width: 80%;
    height: 3.2rem !important;
    background-color: black;
    border-radius: 26px;
    font-family: "roboto", sans-serif;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.869);
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.start::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 1px;
    right: 1px;
    bottom: -3px;
    background: linear-gradient(45deg, rgba(0, 225, 255, 0.56), rgb(206, 42, 206));
    border-radius: 29px; /* Ajustar para que siga el radio */
    z-index: -1;
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease-in-out;
}
.start:hover::before {
    padding: 2px; /* Hace que el borde se vea más grueso en hover */
    border-radius: 31px;
    opacity: 1; /* Despliega el borde */
    transform: scale(1.03);
    color: white;
    font-weight: bold;
}
.start:hover{
    color: white;
}