/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
                /* VENTAS GENERALES - VENTAS */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- */
.generales{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30vmax;
  border: 4px dashed rgba(108, 68, 172, 0.906);
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.618);
  padding-bottom: 1.5rem;
}
.totales{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0rem 2rem 2rem 2rem;
  justify-self: center;
  overflow-y: auto;
}
/* Estilo de la barra */
.totales::-webkit-scrollbar{
  width: 10px;
}
/* Fondo de la barra */
.totales::-webkit-scrollbar-track {
  background: transparent;       /* color del fondo del riel */
  margin: 30px 30px;
}
/* El "pulgarcito" (lo que se arrastra) */
.totales::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 10px;
}
/* Hover del pulgarcito */
.totales::-webkit-scrollbar-thumb:hover {
  background: #3d81ce;
}
.generales h4{
  text-align: center;
}
.generales h4{
  padding-top: 1.99rem;
}
.body-generales table{
  border-collapse: separate;
  border-spacing: 10px;
}
.body-generales .titulos{
  color: black;
}
/* contenedor titulos */
.body-generales .ventas-titulos{
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.ventas-generales td:nth-child(1), .ventas-recientes td:nth-child(1) {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.ventas-generales td:last-child, .ventas-recientes td:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.ventas-generales tr, .ventas-recientes tr {
    transition: all 0.3s ease-in-out;
}
.ventas-generales tr:hover, .ventas-recientes tr:hover {
  background-color: rgba(128, 128, 128, 0.386);
}

/* titulos */
.body-generales .ventas-titulos th{
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 1.5rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
}
.body-generales .ventas-titulos th::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.body-generales .ventas-titulos th.orden-asc::after {
  content: " ▲";
}

.body-generales .ventas-titulos th.orden-desc::after {
  content: " ▼";
}

.uno{
  background-color: rgb(171, 250, 250);
  width: 15%;
}
.dos{
  background-color: yellowgreen;
  width: 20%;
}
.tres{
  background-color: rgb(250, 106, 101);
  width: 25%;
}
.cuatro{
  background-color: rgb(255, 120, 206);
  width: 25%;
}
/* Celdas */
.ventas-generales td{
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  max-width: 7.5rem;
  font-weight: 500;
}



/* estilo para el modal desde js */
.detalle-venta{
  text-align: left;
  padding: 0rem 2rem 0rem 2rem;
}
.detalle-venta h3{
  text-align: center;
}
.detalle-venta span{
  font-weight: 600;
}

/* Para el detalle de productos */
.detalle-venta ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.detalle-venta li{
 padding: 0;
 margin: 0;
}
.detalle-venta li img {
    border-radius: 1rem;
}